.container
  .row
    .column.column-50.column-offset-25{style: "text-align: center; padding-top: 4em;"}
      %span{style: "display: block; padding-bottom: 0.5em"}
        %h1{style: "display: inline"}
          %b
            = @drop["name"]
        %h2{style: "display: inline"}
          = @drop["version"]
      %a.button{href: "/drop/#{@drop['name']}"}
        Home
      %pre
        %code{style: "max-height: 45em"}
          = @drop["content"]
